* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #AB00EA;
}

.ingredients {
  position: absolute;
  margin-top: -100px;
}

.cheese {
  width: 100%;
  position: absolute;
}

.button {
  /* implement styling */
}

.button--submit {
  /* implement styling */
}

.button__icon {
  width: 100%;
  height: 100%;
  image-rendering: smooth;
}

/* The container */
.container-checkbox {
  background-color: white;
  box-sizing: border-box;
  padding: 0.25vmax;
  width: 5vmax;
  min-height: 5vmax;
  height: 5vmax;
  display: block;
  cursor: pointer;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.2);
  font-size: 22px;
  border-radius: 50%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.container-checkbox:hover {
  background-color: #fbf7f7;
}

.z1 {
  z-index: 1;
}

.z2 {
  z-index: 2;
}

.z3 {
  z-index: 3;
}

.z4 {
  z-index: 4;
}